 *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: url('/Letter/images/bg.png');
            background-size: contain;
            background-repeat: repeat;
            background-position: center center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: relative;
        }
        #check, #ekis{
            font-size: 50px;
            color:violet;
            background-color: rgb(185, 101, 185);
            border-radius: 50%;
            padding:5px;
            cursor:pointer;
            margin:0 10px;
        }
        #ekis{
            font-size: 50px;
            color:violet;
            background-color: rgb(185, 101, 185);
            border-radius: 50%;
            padding:5px 10px;
            
        }
        #ekis:hover{
            color:rgb(255, 0, 255);
            transition: 0.3s linear;
        }
        #check:hover{
            color:rgb(255, 0, 255);
            transition: 0.3s linear;
        }
        .buttons{
            padding:20px;
        }
        .main{
            text-align: center;
        }
        p{
            margin-bottom:10px;
        }
        h1{
            margin-top:10px;
            font-size: 50px;
            color:violet;
        }